@font-face {
    font-family: 'DotGothic16', sans-serif;
    src: url('../fonts/DotGothic16/DotGothic16-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@keyframes easeInAnimation {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 100%;
    }
}

@keyframes easeOutAnimation {
    0% {
        visibility: visible;
        opacity: 100%;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.easeOutAnimation {
    animation: easeOutAnimation 0.5s linear forwards;
}

.easeOutAnimationPopup {
    animation: easeOutAnimation 0.2s linear forwards;
}

.easeInAnimation {
    animation: easeInAnimation 0.5s linear forwards;
}

.easeInAnimationPopup {
    animation: easeInAnimation 0.2s linear forwards;
}

body[data-theme='dark'] {
    --bg1: #000;
    --fg1: #fff;
    --fg2: #999;
    --fg3: #444;
}

body[data-theme='light'] {
    --bg1: #fff;
    --fg1: #000;
    --fg2: #555;
    --fg3: #bbb;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: 'DotGothic16', sans-serif;
    background: var(--bg1);
    transition: background 0.3s;
}

main {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#logo {
    color: var(--fg1);
    font-size: 4rem;
    margin-bottom: 15px;
}

#settings_popup, #controls_popup {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50vw;
    height: 50vh;
    background: var(--bg1);
    color: var(--fg1);
    font-size: 1.3rem;
    font-family: 'DotGothic16', sans-serif;
    border: 2px solid var(--fg2);
    box-shadow: 2px 2px 2px var(--fg3);
    transition: background 0.3s;
}

#selector_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    width: min-content;
    height: min-content;
    all: unset;
    font-family: 'DotGothic16', sans-serif;
    font-size: 2rem;
    color: var(--fg1);
    transition: color 0.3s;
    position: absolute;
    top: 0;
    right: 15px;
}

.close:hover {
    cursor: pointer;
    color: var(--fg2);
    transition: color 0.3s;
}

#controls_popup h2, #settings_popup h2 {
    margin-bottom: 15px;
}

#theme_selector, #difficulty_selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#theme_selector {
    margin-bottom: 30px;
}

.selector {
    all: unset;
    color: var(--fg1);
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.selector:hover {
    cursor: pointer;
    color: var(--fg2);
    transition: color 0.3s;
}

#menu_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu_options button {
    all: unset;
    font-family: 'DotGothic16', sans-serif;
    font-size: 2rem;
    color: var(--fg1);
    margin: 5px;
    transition: color 0.3s, text-shadow 0.3s;
}

#menu_options button:hover {
    cursor: pointer;
    color: var(--fg2);
    transition: color 0.3s, text-shadow 0.3s;
    text-shadow: 2px 2px 2px var(--fg3);
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
    color: var(--fg1);
    width: inherit;
    text-align: center;
}

footer a {
    text-decoration: underline dotted;
    color: var(--fg1);
    transition: color 0.3s;
}

footer a:hover {
    color: var(--fg2);
    transition: color 0.3s;
}

@media only screen and (max-height: 512px) {
    #logo {
        font-size: 3rem;
        margin-bottom: 5px;
    }

    #menu_options button {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.7rem;
    }
}
